
/* General Styles for Thumbnails and Main Content */
.thumbnail-container {
  display: flex;
}

.thumbnail-sidebar {
  margin-right: 20px;
  padding: 10px;
  width: 100px; /* Adjust based on your thumbnail size */
  height: calc(100vh - 20px); /* Adjust based on your layout, including padding */
  overflow-y: auto;
  box-sizing: border-box;
}

.main-view{
  width: 100px; /* Adjust based on your thumbnail size */
  height: calc(100vh - 20px); /* Adjust based on your layout, including padding */
 
}
.thumbnail {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.thumbnail img {
  width: 100%;
  display: block;
  margin-bottom: 10px; /* Space between thumbnails */
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent; /* Default border, invisible */
}

.thumbnail.selected img, .thumbnail img:hover {
  opacity: 1;
  transform: scale(1.05); /* Enlarge on hover or when selected */
  border-color: #007bff; /* Highlight color for the selected thumbnail */
}

/* Styles for Main Content Viewing Area */
.main-content {
  flex: 1;

}

.pages-container {
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling to navigate through pages */
  overflow-x: hidden;
  background-color: #f0f0f0; /* Optional: background color for the pages container */
}

.page-canvas {
  display: block;
  max-width: 800px; /* Adjust as needed */
  height: auto; /* Adjust height automatically based on content */
  margin: 0 auto; /* Center canvas horizontally */
  margin-bottom: 10px; /* Space between pages */
}

/* Adjustments for better layout and visibility */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Ensure body doesn't overflow causing double scroll bars */
body {
  overflow: hidden;
}


/* view-tiff.component.css */
.canvas-wrapper {
  width: 100%;
  height: 100%;
  /* Add more styling as needed */
}



.container {
  display: flex;
  height: 100vh; /* Adjust height as needed, here it's set to full viewport height */
}



.main-content {
  flex-grow: 1; /* Takes up the remaining space */
  overflow-y: auto; /* Allows scrolling if the content exceeds the viewport height */
}


.magnifier-lens {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  width: 200px; /* Diameter of the magnifier lens */
  height: 200px;
  pointer-events: none; /* Ignore mouse events on the magnifier lens */
  display: flex;
  align-items: center;
  justify-content: center;
}


